#igralec {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

#igra {
    height: 100%;
    width: 100%;
    background-color: blue;
}

#krog {
    background-color: rgb(59, 59, 59);
    position: absolute;
    border-radius: 50%;

}